arrow
backports.zoneinfo;python_version<"3.9"
flake8
flake8-bugbear
flake8-comments
flake8-datetime-utcnow-plugin
flake8-datetimez
flake8-debugger
flake8-eradicate
flake8-length
flake8-logging-format
flake8-mock
flake8-noqa
flake8-pyproject
flake8-simplify
flake8-useless-assert
hypothesis
hypothesis-fspaths
mypy
pybadges
pytest
pytest-cov
pytest-mock
pytimeparse==1.1.8
sqlalchemy
sqlalchemy-utils
tzdata;sys.platform=="win32"